@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, body{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}
h1{
    color: #333333;
}

header{
    padding: 20px 24px;
}
header h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}
.error-info{
    display: flex;
    flex-direction: column;
    margin: 60px 24px;
}

.error-info .error-img{
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
}

.error-info .error-details h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
}
.error-info .error-details p{
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}
.error-info .error-details a{
    background: #333333;
    padding: 24px 43px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
footer{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 0;
}
footer p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}
footer p a{
    color: #BDBDBD;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .error-info{
        flex-direction: row;
        margin: 60px 30px;
        gap: 20px;
        justify-content: space-between;
    }
    .error-info .error-img{
        max-width: 50%;
        height: auto;
    }
    
}
@media screen and (min-width: 1024px) {
    .error-info .error-details{
        
    }
    .error-info .error-details h1{
        margin-bottom: 60px;
    }
    .error-info .error-details p{
        margin-bottom: 70px;
    }
    
    
}